<ng-container>
    <div id="main-wrapper">
      <app-header></app-header>
    
      <div class="row">
        <div class="col-2 sidebar">
        <app-sidebar></app-sidebar>
        </div>
        <div class="col-12 col-sm-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    
      <!--Sistema de rutas-->
    
      <footer class="footer d-flex justify-content-center aling-items-center">
        <span class="pt-3"> © 2025 Exclusive rights of Analytical</span>
      </footer>
    </div>
    </ng-container>
    