<ng-container>
    <section id="wrapper" class="login-register login-sidebar">
        <div class="boxRedBotton">
            <div class="area">
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    
        <div class="login-box card">
            <div class="card-body">
                <form class="" [formGroup]="loginForm" autocomplete="off">
                    <a href="/home" class="d-flex justify-content-center"><img class="tamanoLogo"
                        src="../../../assets/img/logo.png" alt="Home" /></a>
                        <div class="col text-center">
                            <span><b>Bienvenido al panel de control.</b></span>
                            <span class="d-block pb-3">Ingrese su usuario y contraseña</span>
                    </div>
                    <div class="form-group m-t-40">
                        <div class="col">
                            <input class="form-control" type="text" formControlName="name"
                                placeholder="Nombre de usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <input class="form-control" type="password" formControlName="password" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col">
                            <button [disabled]="!isValid" class="btn btn-primary btn-lg btn-block btn-rounded"
                                (click)="login()">Ingresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </ng-container>
    