$themecolor: #0083c6;
$sidebar: #242a33;
$topbar: #fff;
$sidebar-text: #687384;
$sidebar-icons: #424a56;
$sidebar-alt: #1c2128;
$themecolor-alt: #26c6da;
$dark: #263238;
$border: WHITE;
$white: #ffffff;

.left-sidebar {
  z-index: -1 !important;
}

.font-10 {
  font-size: 10px;
}

.w-30 {
  width: 30px;
}

.puntero {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: red;
  margin-left: -25px;
  animation: puntero 1s ease-in-out infinite;
}

.nav-devider {
  background: $border;
  display: block;
  margin: 15px;
}

.select-option {
  font-size: 16px;
  padding-top: 10px;
}

.left-sidebar {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  height: auto;
  top: 0px;
  background: $sidebar;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.nav-small-cap {
  font-size: 12px;
  margin-bottom: 0px;
  padding: 14px 14px 14px 20px;
  color: $dark;
  font-weight: 500;
  color: white;
}

.sidebar-nav {
  background: $sidebar;
  padding: 15px 0 0 0px;
  ul {
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
      a {
        width: 200px;
        color: $sidebar-text;
        padding: 8px 35px 8px 15px;
        display: block;
        &.active,
        &:hover {
          color: $themecolor;
          text-decoration: none;
        }
        &.active,
        li a:hover {
          font-weight: 500;
          color: white;
        }
      }
      svg {
        fill: $themecolor;
        margin-top: 8px;
        margin-left: 15px;
      }
      svg:last-child {
        margin-right: 10px;
      }
    }
  }
}

.sidebar-nav .has-arrow {
  position: relative;
}

.flecha-right {
  margin-right: 10px;
}

.linea-cuenta {
  background-color: white;
  height: 1px;
  opacity: 0.1;
  margin-top: 15px;
}

.color-principal {
  color: $themecolor;
}

@keyframes puntero {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
